.shop-page-dashboard-container {
  flex: 1.5 1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 63px;
  margin-left: 161px;
  background-color: black;
  align-content: flex-start;
}

@media only screen and (max-width: 408px) {
  .shop-page-dashboard-container {
    height: 2355px;
  }
}
@media only screen and (max-width: 1441px) {
  .shop-page-dashboard-container {
    height: 2532px;
  }
}
