.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(27, 27, 27);
}

.cedroxy-header-logo {
  width: 22vh;
}
.cedroxy-header-logo:hover {
  cursor: pointer;
}
.menu-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.menu-item {
  padding: 10px 20px;
  font-size: 22px;
  color: white;
  font-family: serif;
}
.menu-item:hover {
  cursor: pointer;
}
.menu-item-link {
  text-decoration: none;
  color: white;
}

.header-social-media-icons {
  display: flex;
  justify-content: space-around;
}
.social-media-logo {
  width: 5vh;
}
