/* Header */
.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  justify-content: space-evenly;
}

/* LOGO */
.cedroxy-header-logo {
  width: 13vh;
}
.cedroxy-header-logo:hover {
  cursor: pointer;
}
.cedroxy-logo {
  margin-bottom: -29px;
}

/* MENU */
.header-menu {
  display: flex;
  flex-direction: column;
}
.menu-ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}
.menu-item {
  font-size: 23px;
  padding: 10px 20px;
  color: rgb(140 140 140 / 69%);
  font-family: "PT Serif", serif;
}
.menu-item:hover {
  cursor: pointer;
}
.menu-item-link {
  text-decoration: none;
  color: rgb(140, 140, 140);
}
.header-list-menu {
  text-align: center;
  margin-right: 35px;
  margin-bottom: -20px;
}

/* Media */
@media only screen and (max-width: 1080px) {
  .cedroxy-header-logo {
    width: 13vh;
  }
  .menu-item {
    font-size: 29px;
  }
}
@media only screen and (max-width: 408px) {
  .header-container {
    width: 1148px;
  }
}
@media only screen and (max-width: 1441px) {
  .cedroxy-header-logo {
    width: 22vh;
  }
  .menu-item {
    font-size: 40px;
  }
}
