.quote-container {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 408px) {
  .quote-container {
    display: flex;
    align-items: center;
    margin-left: 130px;
    margin-top: 63px;
    flex-direction: column;
  }
}
