.foot-container {
  display: flex;
  margin-top: 50px;
  background-color: rgb(27, 27, 27);
  align-items: center;
  justify-content: space-around;
}
.footer-logo {
  width: 93px;
}

/* LOCATION */
.location {
  display: flex;
  align-items: center;
  margin-left: -18px;
}
.footer-location {
  color: beige;
  display: flex;
  flex-direction: column;
}
.location-pic {
  width: 18px;
  height: 18px;
}
.location-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: flex-start;
  list-style: none !important;
  text-decoration: none !important;
  color: rgb(214, 212, 218) !important;
}
.location-list {
  list-style: none !important;
  font-size: 13px;
}
.footer-info {
  text-decoration: none !important;
  color: beige;
}
/* SOCIAL MEDIA */
.social-media-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Foot-social-media-title {
  color: rgb(214, 212, 218);
}
.social-media-logo {
  width: 22px;
  margin: 2px;
}
.social-media-icons {
  display: flex;
}
.social-media-footer-wtsp-logo {
  width: 26px;
  margin-bottom: -10px;
}
/* Media Query */
@media only screen and (max-width: 408px) {
}
