.mySidenav {
  position: absolute;
  left: -115px;
  padding: 17px;
  margin-top: 38px;
}

.mySidenav div {
  left: 0;
  background-color: rgb(
    27,
    27,
    27
  ); /* On mouse-over, make the elements appear as they should */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: rgb(140, 140, 140); /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  margin-top: 16px;
}

.test {
  margin-left: 100px;
}

.mySidenav div:hover {
  margin-left: 99px;
  cursor: pointer;
}
.mySidenav div:focus {
  left: 0; /* On mouse-over, make the elements appear as they should */
  margin-left: 100px;
}
@media only screen and (max-width: 408px) {
  .mySidenav {
    left: -117px;
    margin-top: 37px;
  }
  .mySidenav div {
    width: 128px;
    padding: 23px;
    font-size: 27px;
  }
}
@media only screen and (max-width: 1441px) {
  .mySidenav {
    left: -117px;
    margin-top: 37px;
  }
  .mySidenav div {
    width: 128px;
    padding: 23px;
    font-size: 27px;
  }
}
