.product-des-props-container {
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: rgba(245, 245, 220, -0.5);
}
.products-image {
  width: 450px;
  height: 450px;
  object-fit: contain;
}
.products-info {
  padding: 30px;
  text-align: center;
}
.products-name {
  font-size: 20px;
  font-weight: 150;
  margin-top: 30px;
  text-align: center;
  margin-bottom: -50px;
  color: rgb(140, 140, 140);
}
.products-des-carrousel {
  z-index: 0;
  gap: 1.8rem;
  width: 450px;
  height: 450px;
  display: grid;
  overflow-y: auto;
  scroll-behavior: auto;
  scrollbar-width: none;
  grid-auto-flow: column;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  margin-top: 160px;
}

.products-des-carrousel::-webkit-scrollbar {
  z-index: 0;
  display: none;
}
@media only screen and (max-width: 511px) {
  .products-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
  .products-des-carrousel {
    z-index: 0;
    gap: 1.8rem;
    width: 300px;
    height: 300px;
    display: grid;
    overflow-y: auto;
    scroll-behavior: auto;
    scrollbar-width: none;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    margin-top: 160px;
  }
}
