.app-container {
  background-color: black;
}

/* Media Query */
@media only screen and (max-width: 408px) {
  .app-container {
    background-color: black;
    width: 974px;
  }
}
@media only screen and (max-width: 1080px) {
  .app-container {
    background-color: black;
    width: 1147px;
  }
}
