.product-component-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-color: transparent;
  margin: 8px;
  margin-left: -1.5px;
}
.product-component-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-component-image {
  width: 300px;
  height: 300px;
}
.product-component-name {
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.product-component-description {
  width: 300px;
  text-align: center;
}
