.product-component-container {
  margin: 8px;
  width: 320px;
  height: 410px;
  display: flex;
  align-items: center;
  margin-bottom: 55px;
  flex-direction: column;
}
.product-component-container:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(140, 140, 140, 0.2),
    0 6px 20px 0 rgba(140, 140, 140, 0.19);
}

.product-component-image {
  width: 320px;
  height: 320px;
  object-fit: contain;
}
.product-component-name {
  font-weight: bolder;
  font-size: 33px;
  margin-top: 11px;
  margin-bottom: -8px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(140, 140, 140, 0.8);
  font-family: "Explora", cursive;
}
.product-component-description {
  width: 300px;
  text-align: center;
}

@media only screen and (max-width: 1080px) {
  .product-component-image {
    width: 310px;
    height: 310px;
    margin-right: 5px;
  }
  .product-component-container {
    width: 311px;
  }
}
@media only screen and (max-width: 1441px) {
  .product-component-container {
    width: 308px;
  }
}
@media only screen and (max-width: 412px) {
  .product-component-name {
    font-weight: bolder;
    font-size: 40px;
    margin-top: 11px;
    margin-bottom: -8px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(140, 140, 140, 0.8);
    font-family: "Explora", cursive;
  }
}
@media only screen and (max-width: 1096px) {
  .product-component-container {
    width: 275px;
  }
  .product-component-image {
    height: 275px;
    object-fit: contain;
  }
}
@media only screen and (max-width: 902px) {
}
