.events-description-props-container {
  display: flex;
  margin-top: -130px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* image */
.events-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-description-component-image {
  width: 500px;
  height: 500px;
  object-fit: contain;
}
.events-des-carousel {
  z-index: 0;
  gap: 1.8rem;
  width: 450px;
  height: 450px;
  display: grid;
  overflow-y: auto;
  scroll-behavior: auto;
  scrollbar-width: none;
  grid-auto-flow: column;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
}

/* info */
.event-description-component-name {
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
  color: rgb(140, 140, 140);
}
.event-description-component-date {
  margin-top: -20px;
  text-align: center;
  margin-bottom: 12px;
  color: rgb(140, 140, 140);
}
.event-component-description {
  font-size: 20px;
  margin-left: 60px;
  padding-left: 60px;
  margin-right: 60px;
  text-align: center;
  padding-right: 60px;
  color: rgb(140, 140, 140);
}

/* Media Query */
@media only screen and (max-width: 412px) {
  .events-description-props-container {
    height: 1387px;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1080px) {
  .events-description-props-container {
    margin: 100px;
    display: flex;
    height: 2015px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 902px) {
  .events-description-props-container {
    margin: 100px;
    display: flex;
    height: 2015px;
    justify-content: flex-start;
  }
  .event-description-component-name {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 14px;
    margin-bottom: -12px;
    color: rgb(140, 140, 140);
  }
  .event-component-description {
    font-size: 15px;
    margin-left: 24px;
    padding-left: 23px;
    margin-right: 36px;
    text-align: center;
    padding-right: 27px;
    margin-top: 20px;
    color: rgb(140, 140, 140);
  }
  .event-description-component-date {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 9px;
    color: rgb(140, 140, 140);
  }
}
@media only screen and (max-width: 690px) {
  .events-description-props-container {
    margin: 100px;
    display: flex;
    height: 2015px;
    justify-content: flex-start;
  }
  .event-description-component-name {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 14px;
    margin-bottom: -12px;
    color: rgb(140, 140, 140);
  }
  .event-component-description {
    font-size: 15px;
    margin-left: 25px;
    padding-left: 0px;
    margin-right: 0px;
    text-align: center;
    padding-right: 27px;
    margin-bottom: 37px;
    margin-top: 20px;
    color: rgb(140, 140, 140);
  }
  .event-description-component-date {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 9px;
    color: rgb(140, 140, 140);
  }
}
